img {
    width: 200px;
}

main {
    align-items: center;
    margin-bottom: 20vh;
}

.banner {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner::before {
    content: "";
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -1;
    background: no-repeat url(../images/blogbanner.jpg);
    background-size: cover;
    background-color: var(--white);
    opacity: 0.5;
}

.banner article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 80px;
    text-align: center;
}

.banner p {
    margin-top: 4vh;
    width: 40%;
}

.content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4vh;
}

.content > a {
    border: 1.5px solid  #d8d8d8;
    width: 30%;
    text-decoration: none;
    transition: all 0.2s;
}

.content >a:hover {
    opacity: 0.9;
}

.content figure, .content figcaption {
    display: flex;
    flex-direction: column;
}

.content div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1.5px solid #d8d8d8;
}

.content figcaption {
    background-color: var(--white);
    row-gap: 1vh;
    padding: 2vh;
}

.content span {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  #d8d8d8;
    margin-top: 1vh;
    padding-top: 1vh;
}
