img{
    width: 200px;
}



main {
    align-items: center;
    font-size: 10px;
}

h1 {
    font-size: 4em;
    font-family: Knewave;
    text-align: center;
}

.blog {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4em;
}

.blog > img {
    width: 80em;
    border-radius: 1em;
}

.blog p {
    font-size: 1.8em;
    width: 80%;
    line-height: 1.5;
}

.blog ol {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.blog li{
    list-style: decimal;
    font-size: 1.8em;
}

.blog figure {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5em;
}

.blog figure img {
    width: 50em;
    border-radius: 10px;
    text-shadow: 0.2em 0.2em 0.4em var(--);
}

.blog figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.blog figure h3 {
    font-size: 2.4em;
}