main {
    padding: 20vh 0;
}

.banner {
    display: flex;
    justify-content: space-around;
}

.banner h1{
    font-size: 60px;
    margin-bottom: 2vh;
}

section.contact {
    display: flex;
    justify-content: center;
    column-gap: 10vh;
}

.contact > article, form{
    width: 40%;
}

.contact > article {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

section.contact h2 {
    font-size: 40px;
    color: var(--pink);
}

.contact > article p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--brown);
}

.contact > article article {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
}

.info{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    font-size: 18px;
}

.info li {
    color: var(--brown);
}

.info i{
    margin-right: 3vh;
    color: var(--pink);
}

.socialMedia {
    display: flex;
    column-gap: 4vh;
    margin-bottom: 2vh;
}

.socialMedia i{
    font-size: 30px;
    color: var(--pink);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}
input, textarea, button {
    width: 80%;
    padding: 2vh;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid var(--pink);
}

textarea, input::placeholder, button {
    color: var(--brown);
}

form button{
    width: 30%;
    background-color: white;
}

